<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Document</title>
    <link rel="stylesheet" href="/cssFiles/background.css">
</head>
<body>
    <div class="banner">
      <%- include('navbar') %>


    <div class="center2">
      <div class="card" style="position:fixed; width: 90rem;">
        <form action="/menus" method="get">
          <button name="cat" value="">ALL</button>
          <button name="cat" value="1">Makanan</button>
          <button name="cat" value="2">Minuman</button>
          <button name="cat" value="3">Dessert</button>
        </form>
        
          <h1>Menu List</h1>
          <div class="container ">
            <div class="row">
              <% data.forEach(el => { %>
                <div class="col-sm-3">
                  <div class="card" style="height: 200px;" >
                    <img height="50px" class="card-img-top" src="<%= el.img %>" alt="Ini foto tau gak? tapi eror HAHAHA">
                    <div class="card-body">
                      <h5 class="card-title"><%= el.name %></h5>
                      <p class="card-text"><%= currency(el.price) %></p>
                      <a href="/product/<%= el.id %>" class="btn btn-primary">Buy</a>
                    </div>
                  </div>
                </div>
              <% }) %>
            </div>
          </div>

        </div>
      </div>
  
        

    <%- include('link') %>
    </div>
</body>
</html>