<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Your Profile</title>
    <link rel="stylesheet" href="/cssFiles/background.css">
</head>
<body>
    <div class="banner">
      <%- include('navbar') %>

          <h1>Profile</h1>
          <br><br>
          <div class="container" style="margin: 0 300px;">
            <div class="row">
                <div class="col-sm-3">
                  <div class="card" style="height: 200px;" >
                    <div class="card-body">
                      <h5 class="card-title">Hello <%= data.title %></h5>
                      <br>
                      <p class="card-text">your membership : <%= data.Customer.statusMembership(data.Customer.points) %></p>
                      <p class="card-text">your points : <%= data.Customer.points %></p>
                      <p class="card-text">has been a member since : <%= date(data.createdAt) %></p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
  
        

    <%- include('link') %>
    </div>
</body>
</html>